
.sibling-toggle {
    
    &-target {
        display: none;
        
        &.active {
            display: block;
        }
    }
    
    &-control {        
        display: none;
        
        &.initialized {
            display: inline-block;
        }

        &.active {
            cursor: default;
            text-decoration: none;
        }
    }
}